@import "styles/global.scss";

.tagInfo {
  display: flex;
  align-items: center;
  gap: 0 20px;
}

.numberTag {
  background: $color-white;
  border-radius: 16px;
  color: $color-black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 38px;
}

.title {
  font-size: 20px;
  color: $color-white;
}
