@import "styles/global.scss";
@import "styles/mixins.scss";

.advantages {
  margin-top: 50px;
}

.advantageContent {
  @include displayFlexSpaceBetween();
  flex-wrap: wrap;
  gap: 10px 150px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.advantageContentDesc {
  max-width: 670px;
  font-size: 30px;
  color: $color-white;
}

.advantageText {
  font-size: 60px;
  color: $color-white;
}

.prime {
  color: $color-primary;
}

.advantageWrapper > div:not(:last-child) {
  margin-bottom: 10px;
}

@media (max-width: 1396px) {
  .advantageWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 10px;
  }
  .advantageWrapper > div:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .advantageWrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .advantageWrapper > div:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 1144px) {
  .advantageContent {
    justify-content: center;
  }

  .advantageContentDesc {
    text-align: center;
  }
}
