@import "styles/global.scss";
@import "styles/mixins.scss";

.nav {
  height: 64px;
  @include displayFlexSpaceBetween();
  align-items: center;
  padding: 0 40px;
  gap: 50px;
}

.lists {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 60px;
  color: $color-white;
}

.list {
  text-decoration: none;
  font-size: 20px;
  background-image: linear-gradient(#818589 50%, $color-primary 50%);
  background-size: 100% 200%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 550ms ease-in-out;
  cursor: pointer;
}

.list:hover {
  background-position: 0% 100%;
}

.customMenu {
  display: none !important;
}

@media (max-width: 530px) {
  .lists {
    display: none;
  }
  .customMenu {
    display: flex !important;
  }
}
