@import "styles/global.scss";
@import "styles/mixins.scss";

.nav {
  height: 64px;
  @include displayFlexSpaceBetween();
  align-items: center;
  padding: 0 40px;
  margin-bottom: 72px;
}

.lists {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 10px 60px;
  color: $color-white;
}

.list {
  cursor: pointer;
}
