@import "styles/global.scss";

.heading {
  color: $color-white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 4px;
}

.prime {
  color: $color-primary;
}
