@import "styles/global.scss";

.courses {
  margin-top: 250px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.desc {
  font-size: 25px;
  color: $color-white;
  margin-top: 50px;
}

@media (max-width: 1331px) {
  .courses {
    margin-top: 150px;
  }
}

@media (max-width: 881px) {
  .courses {
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
  }
  .desc {
    text-align: center;
  }
}
